<!DOCTYPE html>
<html lang="en" data-theme="Light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/Tutor.Shared/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Tutor.Shared/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="_content/Tutor.Shared/themes.css" />
    <link rel="stylesheet" href="_content/Tutor.Shared/app.css" />
    <link rel="stylesheet" href="_content/Tutor.Shared/css/home.css" />
    <link rel="stylesheet" href="_content/Tutor.Shared/css/quiz.css" />
    <link rel="stylesheet" href="_content/Tutor.Shared/css/reading-timer.css" />
    <link rel="stylesheet" href="_content/Tutor.Shared/css/a11y.css" />
    <link rel="stylesheet" href="Tutor.Blazor.styles.css" />
    <link rel="icon" href="data:," />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/Tutor.Shared/tutor-interop.js"></script>
    <!-- D3.js library for force graph -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
