@inherits LayoutComponentBase
@using Microsoft.JSInterop
@using Tutor.Services
@inject ThemeService ThemeService
@inject SettingsService SettingsService
@inject IJSRuntime JS

<div class="app-layout">
    <TopMenu />
    
    <main class="main-panel">
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var theme = await ThemeService.GetThemeAsync();
            await JS.InvokeVoidAsync("setTheme", theme);

            var borderRadius = await SettingsService.GetBorderRadiusAsync();
            await JS.InvokeVoidAsync("setBorderRadius", borderRadius);
        }
    }
}
