@inherits LayoutComponentBase
@using Microsoft.JSInterop
@inject ThemeService ThemeService
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var theme = await ThemeService.GetThemeAsync();
            await JS.InvokeVoidAsync("setTheme", theme);
        }
    }
}
