@page "/chat"
@using Tutor.Services
@using Tutor.Models
@inject CourseService CourseService

@if (activeCourse != null)
{
    <div class="page-title">Chat: @activeCourse.Name</div>
}
else
{
    <div class="page-title">Chat</div>
}

<Tutor.Components.Chat />

@code {
    private Course? activeCourse;

    protected override async Task OnInitializedAsync()
    {
        activeCourse = await CourseService.GetActiveCourseAsync();
    }
}
