@page "/courses"
@using Tutor.Services
@inject AppUiState UiState

<div class="page-title">Courses</div>

<CourseManagement />

@code {
    protected override void OnInitialized()
    {
        UiState.SetActiveTab(TopTab.Courses);
    }
}
